<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-4"><%= image_tag('Tree.jpg') %></div>	   
		<iframe width="500" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=1515+W.+Lincoln+Highway,+Schererville,+IN+46375&amp;ie=UTF8&amp;hq=&amp;hnear=1515+W+Lincoln+Hwy,+Schererville,+Indiana+46375&amp;gl=us&amp;t=m&amp;z=14&amp;ll=41.490865,-87.481359&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=1515+W.+Lincoln+Highway,+Schererville,+IN+46375&amp;ie=UTF8&amp;hq=&amp;hnear=1515+W+Lincoln+Hwy,+Schererville,+Indiana+46375&amp;gl=us&amp;t=m&amp;z=14&amp;ll=41.490865,-87.481359&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
	</div>	   
</div>



