<div class="container-fluid map">
    <div class="row-fluid site-info clearfix">
        <h1>Church Address and Map</h1>
        <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <address>
                <b>New St. George Romanian Orthodox Church</b><br>
                <a href="http://www.romarch.org/parohie.php?id=8">Church Website</a><br>
                17601 Wentworth Avenue<br>
                Lansing, IL 60438
            </address>
            <%= image_tag("StGeorge.png", alt: "New St. George Romanian Orthodox Church") %>
        </div>
        <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=17601%20Wentworth%20Avenue%2C%20Lansing%2C%20IL%2C%20United%20States&key=AIzaSyCXRSj9IETuYfCnU0mpFn2khn4C_igrZKs"></iframe><br />
        </div>
	</div>	   
    <div class="row-fluid site-info clearfix">
        <h1>Reception Address and Map</h1>
        <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <address>
                <b>Halls of St. George</b><br>
                <a href="http://www.hallsofstgeorge.com">Hall Website</a><br>
                905 E Joliet St.<br>
                Schererville, IN 46375
            </address>
            <%= image_tag("HallsofStGeorge.png", alt: "Halls of St. George") %>
        </div>
        <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=905%20E%20Joliet%20St%2C%20Schererville%2C%20IN%2C%20United%20States&key=AIzaSyCXRSj9IETuYfCnU0mpFn2khn4C_igrZKs"></iframe><br />
        </div>
    </div>
</div>



