/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */  
 
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}

.display-none {
    display: none; 
}

.center-text { text-align: center; }
	
.login { margin-top: 120px; }

.right { float: right; }

.pad-bottom { padding-bottom: 30px; }

.radiolabel { margin-bottom: 3rem; }
	
#username, 
#password  {
	display: block;
	margin: 0 auto 2em auto;
	height: 3rem;
	width: 20rem;
	border: 1px solid #999;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	   -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.admin-btn {
    background: rgb(248, 44, 44);
    color: #fff;
    padding: 15px;
    margin-top: 20px;
    position: fixed;
    border: none;
    font-size: 1.3em;
    border-radius: 5px;
    -webkit-box-shadow: 6px 4px 8px rgba(14, 8, 8, 0.73);
	   -moz-box-shadow: 6px 4px 8px rgba(14, 8, 8, 0.73);
	        box-shadow: 6px 4px 8px rgba(14, 8, 8, 0.73);
    text-decoration: none;
}

.admin-btn:hover {
    color: #fff;
    text-decoration: none;
    background: linear-gradient( rgb(248, 44, 44), rgb(68, 1, 1) );
}

#map {
	height: 400px;
	width: 300px;
}

#user_comment, 
#user_numguests {
	border: 1px solid #999;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	   -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.radiolabel {
	font-weight: normal;
 }

 #import {
	border-top: 1px black solid;
	border-bottom: 1px black solid;
	margin-bottom: 2em;
	h3 {
		margin-top: 0.5em;
		}
}

#index {
	background-color: #eee;
	padding: 1em;
}

#importsubmit { margin: 0.5em 0 1em 0; }

#guest-admin {
    margin: 20px 0 0 20px;
    width: 370px;
}

.guest-update-btn {
    margin: 0 auto;
    width: 50%;
}

.back-link {
    display: block;
    margin-top: 20px;
    font-size: 1.2em;
    padding-bottom: 50px;
}

div.comment { margin-bottom: 5px; }

/* Media Queries
**************************************/

@media screen and (min-width: 768px) {
	.center-text {
		padding: 2em 0 0 4em;
	}
}