// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
  
.navbar {
  min-height: 51px;
 }
 
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }

// apply styles to HTML elements
// to make views framework-neutral

main {
  @extend .container;
  }

body {
  padding-bottom: 50px;
}


section {
  @extend .row;
  margin-top: 20px;
  }
  
label {
  font-size: 20px;
} 

input[type="radio"],
input[type="number"] { margin: 4px 0 0 20px; }

input[type="text"],
input[type="number"],
input[type="password"] { padding-left: 10px; }

.invite-text { font-family: 'Lora', serif; }

p.invite-text { font-size: 20px; }

.inline-img { display: inline; }
 
#guest-admin input[type="text"],
#guest-admin input[type="number"] {
    width: 200px; 
}

.login-btn {
    padding-right: 50px;
    padding-left: 50px;
}

.rsvp-btn { 
    margin-top: 20px;
    padding: 10px 30px;
}

a.btn-primary { margin-top: 5px; }

#guest-admin label { font-weight: normal; }

.map {
    margin-top: 20px;
    margin-left: 20px;
    padding-bottom:100px;
}

.uppercase { text-transform: uppercase; }

.logout-btn {
    background: #2C7EF8;
    color: #fff;
    padding: 15px;
    margin-top: 20px;
    position: fixed;
    right: 60px;
    border: none;
    font-size: 1.3em;
    border-radius: 5px;
    -webkit-box-shadow: 6px 4px 8px rgba(14, 8, 8, 0.73);
	   -moz-box-shadow: 6px 4px 8px rgba(14, 8, 8, 0.73);
	        box-shadow: 6px 4px 8px rgba(14, 8, 8, 0.73);
    text-decoration: none;
}

.logout-btn:hover {
    color: #fff;
    text-decoration: none;
    background: linear-gradient(#2C7EF8, #112F7A);    
}

.site-info { margin-bottom: 50px; }

