// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  box-shadow: 8px 8px 10px rgba(82, 74, 74, 0.47);
  -webkit-box-shadow: 8px 8px 10px rgba(82, 74, 74, 0.47);
  -moz-box-shadow: 8px 8px 10px rgba(82, 74, 74, 0.47);
  -o-box-shadow: 8px 8px 10px rgba(82, 74, 74, 0.47);
  }
  
.navbar {
  min-height: 51px;
 }
 
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background: #EFE8D6 url("../assets/tree-bkg.png") 100% no-repeat;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  min-height: 1000px;
  }


 .carousel-indicators {
	bottom: 0;
}

.carousel-indicators .active {
	background-color: #fff
}

.carousel-indicators li {
	border-color: #f;
}
  
section {
  @extend .row;
  margin-top: 20px;
  }
  
label {
  font-size: 20px;
} 

input[type="radio"] {
  margin: 4px 0 0 20px;
}

.invite-text {
  font-family: 'Parisienne', cursive;
 }

.initial-text { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
 

 
 