// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
          box-shadow: 8px 8px 10px rgba(82, 74, 74, 0.47);
  -webkit-box-shadow: 8px 8px 10px rgba(82, 74, 74, 0.47);
     -moz-box-shadow: 8px 8px 10px rgba(82, 74, 74, 0.47);
       -o-box-shadow: 8px 8px 10px rgba(82, 74, 74, 0.47);
  }
  
.navbar {
  min-height: 51px;
 }
 
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }

// apply styles to HTML elements
// to make views framework-neutral

main {
  @extend .container;
 // background: #EFE8D6 url("../assets/tree-bkg.png") 100% no-repeat;
  background-color: #efe8d6;
  background-position: left;
  background-repeat: no-repeat;
  background-image: url("../assets/tree-bkg.png");
  background-size: 100%;
  width: 100%;
  min-height: 775px;
  }


section {
  @extend .row;
  margin-top: 20px;
  }
  
label {
  font-size: 20px;
} 

input[type="radio"],
input[type="number"] {
  margin: 4px 0 0 20px;
}

input[type="text"],
input[type="number"] { padding-left: 10px; }

.invite-text { font-family: 'Parisienne', cursive; }

.initial-text { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
 
#guest-admin input[type="text"],
#guest-admin input[type="number"] {
    width: 200px; 
}

